In [1]:
import os

path_parent = os.path.dirname(os.getcwd())
os.chdir(path_parent)

In [2]:
import pandas as pd
import numpy as np
from utils.fetch_data import fred_fred, investing_api, yf_api, alpha_vantage_api, alpha_vantage_api_financial_statements

# Search options

# Economic indicators

In [4]:
# 10 year break even interest rate
fred_interestrate = fred_fred("T10YIE", '2022-01-01', '2022-07-30')
fred_interestrate.head()

        date     v  symbol        type interval              p_key
0 2022-01-03  2.60  T10YIE  econ_index    daily  2022_01_03_T10YIE
1 2022-01-04  2.57  T10YIE  econ_index    daily  2022_01_04_T10YIE
2 2022-01-05  2.53  T10YIE  econ_index    daily  2022_01_05_T10YIE
3 2022-01-06  2.46  T10YIE  econ_index    daily  2022_01_06_T10YIE
4 2022-01-07  2.48  T10YIE  econ_index    daily  2022_01_07_T10YIE

# Stock data

In [5]:
invest_apple = investing_api("stock", "AAPL", '2022-01-01', '2022-07-30')
invest_apple.head()

,Date,Open,High,Low,Close,Volume,Currency,symbol,type,interval,p_key
0,2022-01-03,177.83,182.88,177.71,182.01,104701216,USD,AAPL,stock,daily,2022_01_03_AAPL
1,2022-01-04,182.63,182.94,179.12,179.70,99310440,USD,AAPL,stock,daily,2022_01_04_AAPL
2,2022-01-05,179.61,180.17,174.64,174.92,94537600,USD,AAPL,stock,daily,2022_01_05_AAPL
3,2022-01-06,172.70,175.30,171.64,172.00,96903952,USD,AAPL,stock,daily,2022_01_06_AAPL
4,2022-01-07,172.89,174.14,171.03,172.17,86709144,USD,AAPL,stock,daily,2022_01_07_AAPL

In [6]:
invest_apple = investing_api("stock", "AAPL", '2022-01-01', '2022-07-30', interval='monthly')
invest_apple.head()

,Date,Open,High,Low,Close,Volume,Currency,symbol,type,interval,p_key
0,2022-01-01,177.83,182.94,154.70,174.78,2109283328,USD,AAPL,stock,monthly,2022_01_01_AAPL
1,2022-02-01,174.01,176.65,152.00,165.12,1629275392,USD,AAPL,stock,monthly,2022_02_01_AAPL
2,2022-03-01,164.69,179.61,150.10,174.61,2180882432,USD,AAPL,stock,monthly,2022_03_01_AAPL
3,2022-04-01,174.03,178.49,155.38,157.65,1687873152,USD,AAPL,stock,monthly,2022_04_01_AAPL
4,2022-05-01,156.82,166.19,132.71,148.84,1253155584,USD,AAPL,stock,monthly,2022_05_01_AAPL

In [7]:
alpha_apple = alpha_vantage_api('stock', 'AAPL', interval='daily')
alpha_apple.head()

,Date,Open,High,Low,Close,Volume,Currency,symbol,type,interval,p_key
0,2022-07-22,155.3900,156.2800,153.4100,154.0900,66675408,USD,AAPL,stock,daily,2022_07_22_AAPL
1,2022-07-21,154.5000,155.5700,151.9400,155.3500,65086636,USD,AAPL,stock,daily,2022_07_21_AAPL
2,2022-07-20,151.1200,153.7200,150.3700,153.0400,64823413,USD,AAPL,stock,daily,2022_07_20_AAPL
3,2022-07-19,147.9200,151.2300,146.9100,151.0000,82982367,USD,AAPL,stock,daily,2022_07_19_AAPL
4,2022-07-18,150.7400,151.5700,146.7000,147.0700,81420868,USD,AAPL,stock,daily,2022_07_18_AAPL

In [8]:
microsoft = yf_api('stock', 'MSFT')
microsoft.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Currency,symbol,type,interval,p_key
0,1986-03-13,0.055654,0.063838,0.055654,0.061109,1031788800,0.0,0.0,USD,MSFT,stock,daily,1986_03_13_MSFT
1,1986-03-14,0.061109,0.064384,0.061109,0.063292,308160000,0.0,0.0,USD,MSFT,stock,daily,1986_03_14_MSFT
2,1986-03-17,0.063292,0.064929,0.063292,0.064384,133171200,0.0,0.0,USD,MSFT,stock,daily,1986_03_17_MSFT
3,1986-03-18,0.064384,0.064929,0.062201,0.062746,67766400,0.0,0.0,USD,MSFT,stock,daily,1986_03_18_MSFT
4,1986-03-19,0.062746,0.063292,0.061109,0.061655,47894400,0.0,0.0,USD,MSFT,stock,daily,1986_03_19_MSFT

In [9]:
microsoft = yf_api('stock', 'MSFT', from_date='2022-01-01', to_date='2022-06-20', interval='weekly')
microsoft.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Currency,symbol,type,interval,p_key
0,2022-01-03,333.880398,336.518779,308.731086,312.663788,173959800.0,0.0,0.0,USD,MSFT,stock,weekly,2022_01_03_MSFT
1,2022-01-10,308.133696,321.992707,302.418861,308.840607,193260900.0,0.0,0.0,USD,MSFT,stock,weekly,2022_01_10_MSFT
2,2022-01-17,302.737471,312.534345,294.314524,294.732697,181632200.0,0.0,0.0,USD,MSFT,stock,weekly,2022_01_17_MSFT
3,2022-01-24,290.919501,307.148057,274.840251,306.909119,352234000.0,0.0,0.0,USD,MSFT,stock,weekly,2022_01_24_MSFT
4,2022-01-31,307.596093,313.739037,298.645469,304.599274,202857400.0,0.0,0.0,USD,MSFT,stock,weekly,2022_01_31_MSFT

# Index data

In [10]:
# S&P 500
invest_sp500 = investing_api("index", 'SPX', '2022-01-01', '2022-07-30')
invest_sp500.head()

,Date,Open,High,Low,Close,Volume,Currency,symbol,type,interval,p_key
0,2022-01-03,4778.14,4796.64,4758.17,4796.56,0,USD,SPX,index,daily,2022_01_03_SPX
1,2022-01-04,4804.51,4818.62,4774.27,4793.54,0,USD,SPX,index,daily,2022_01_04_SPX
2,2022-01-05,4787.99,4797.70,4699.44,4700.58,0,USD,SPX,index,daily,2022_01_05_SPX
3,2022-01-06,4693.39,4725.01,4671.26,4696.05,0,USD,SPX,index,daily,2022_01_06_SPX
4,2022-01-07,4697.66,4707.95,4662.74,4677.02,0,USD,SPX,index,daily,2022_01_07_SPX

In [11]:
# S&P 500
invest_sp500 = investing_api("index", 'SPX', '2022-01-01', '2022-07-30', interval="monthly")
invest_sp500.head()

,Date,Open,High,Low,Close,Volume,Currency,symbol,type,interval,p_key
0,2022-01-01,4781.00,4817.88,4221.54,4515.55,0,USD,SPX,index,monthly,2022_01_01_SPX
1,2022-02-01,4521.35,4595.10,4114.50,4373.79,0,USD,SPX,index,monthly,2022_02_01_SPX
2,2022-03-01,4358.08,4637.90,4157.20,4530.41,0,USD,SPX,index,monthly,2022_03_01_SPX
3,2022-04-01,4547.90,4593.90,4123.87,4131.93,0,USD,SPX,index,monthly,2022_04_01_SPX
4,2022-05-01,4132.70,4307.90,3810.50,4132.15,0,USD,SPX,index,monthly,2022_05_01_SPX

# ETF

In [12]:
# VSPDR S&P 500 ETF (SPY)
vanguard500 = investing_api("etf", 'SPY', '2022-01-01', '2022-07-30')
vanguard500.head()

,Date,Open,High,Low,Close,Volume,Currency,Exchange,symbol,type,interval,p_key
0,2022-01-03,476.30,477.85,473.85,477.71,71509600,USD,NYSE,SPY,etf,daily,2022_01_03_SPY
1,2022-01-04,479.22,479.98,475.58,477.55,68191000,USD,NYSE,SPY,etf,daily,2022_01_04_SPY
2,2022-01-05,477.16,477.98,468.28,468.38,100642304,USD,NYSE,SPY,etf,daily,2022_01_05_SPY
3,2022-01-06,467.89,470.82,465.43,467.94,85719904,USD,NYSE,SPY,etf,daily,2022_01_06_SPY
4,2022-01-07,467.95,469.20,464.65,466.09,85111600,USD,NYSE,SPY,etf,daily,2022_01_07_SPY

In [13]:
# VSPDR S&P 500 ETF (SPY)
vanguard500 = investing_api("etf", 'SPY', '2022-01-01', '2022-07-30', interval='weekly')
vanguard500.head(3)

,Date,Open,High,Low,Close,Volume,Currency,Exchange,symbol,type,interval,p_key
0,2022-01-02,476.30,479.98,464.65,466.09,420356000,USD,NYSE,SPY,etf,weekly,2022_01_02_SPY
1,2022-01-09,462.70,473.20,456.60,464.72,448335008,USD,NYSE,SPY,etf,weekly,2022_01_09_SPY
2,2022-01-16,459.74,459.96,437.95,437.98,543881024,USD,NYSE,SPY,etf,weekly,2022_01_16_SPY

# Fund

In [14]:
# eaton vance fund
eaton_investing = investing_api("fund", 'EAEAX', '2022-01-01', '2022-07-30', interval='weekly')
eaton_investing.head()

,Date,Open,High,Low,Close,Currency,symbol,type,interval,p_key
0,2022-01-02,31.60,31.60,31.60,30.88,USD,EAEAX,fund,weekly,2022_01_02_EAEAX
1,2022-01-09,30.80,30.80,30.80,30.68,USD,EAEAX,fund,weekly,2022_01_09_EAEAX
2,2022-01-16,30.10,30.10,30.10,29.07,USD,EAEAX,fund,weekly,2022_01_16_EAEAX
3,2022-01-23,29.20,29.20,29.20,29.17,USD,EAEAX,fund,weekly,2022_01_23_EAEAX
4,2022-01-30,29.71,29.71,29.71,29.60,USD,EAEAX,fund,weekly,2022_01_30_EAEAX

# Financial statements

In [17]:
income = alpha_vantage_api_financial_statements("income statement", 'AAPL')
income.head()

,fiscalDateEnding,reportedCurrency,grossProfit,totalRevenue,costOfRevenue,costofGoodsAndServicesSold,operatingIncome,sellingGeneralAndAdministrative,researchAndDevelopment,operatingExpenses,...,incomeBeforeTax,incomeTaxExpense,interestAndDebtExpense,netIncomeFromContinuingOperations,comprehensiveIncomeNetOfTax,ebit,ebitda,netIncome,symbol,p_key
0,2021-09-30,USD,152836000000,363172000000,234954000000,212981000000,108949000000,21973000000,21914000000,43887000000,...,109207000000,14527000000,2645000000,94680000000,95249000000,111852000000,123136000000,94680000000,AAPL,2021_09_30_AAPL
1,2020-09-30,USD,104956000000,271642000000,189475000000,169559000000,66288000000,19916000000,18752000000,38668000000,...,67091000000,9680000000,2873000000,57411000000,57453000000,69964000000,81020000000,57411000000,AAPL,2020_09_30_AAPL
2,2019-09-30,USD,98392000000,256598000000,180027000000,161782000000,63930000000,18245000000,16217000000,34462000000,...,65737000000,10481000000,3576000000,55256000000,58037000000,69313000000,81860000000,55256000000,AAPL,2019_09_30_AAPL
3,2018-09-30,USD,101839000000,265595000000,163756000000,163756000000,70898000000,16705000000,14236000000,30941000000,...,72903000000,13372000000,3240000000,59531000000,56505000000,76143000000,87046000000,59531000000,AAPL,2018_09_30_AAPL
4,2017-09-30,USD,88186000000,229234000000,141048000000,141048000000,61344000000,15261000000,11581000000,26842000000,...,64089000000,15738000000,2323000000,48351000000,47567000000,66412000000,67612000000,48351000000,AAPL,2017_09_30_AAPL

In [16]:
balance = alpha_vantage_api_financial_statements("balance sheet", 'AAPL')
balance.head()

,fiscalDateEnding,reportedCurrency,totalAssets,totalCurrentAssets,cashAndCashEquivalentsAtCarryingValue,cashAndShortTermInvestments,inventory,currentNetReceivables,totalNonCurrentAssets,propertyPlantEquipment,...,shortLongTermDebtTotal,otherCurrentLiabilities,otherNonCurrentLiabilities,totalShareholderEquity,treasuryStock,retainedEarnings,commonStock,commonStockSharesOutstanding,symbol,p_key
0,2021-09-30,USD,351002000000,134836000000,34940000000,62639000000,6580000000,51506000000,216166000000,39440000000,...,241783000000,47493000000,53325000000,63090000000,None,5562000000,57365000000,16426786000,AAPL,2021_09_30_AAPL
1,2020-09-30,USD,323888000000,143713000000,38016000000,90943000000,4061000000,37445000000,180175000000,36766000000,...,216860000000,42684000000,54490000000,65339000000,None,14966000000,50779000000,16976763000,AAPL,2020_09_30_AAPL
2,2019-09-30,USD,338516000000,162819000000,48844000000,100557000000,4106000000,45804000000,175697000000,37378000000,...,209135000000,37720000000,50503000000,90488000000,None,45898000000,45174000000,4443236000,AAPL,2019_09_30_AAPL
3,2018-09-30,USD,365725000000,131339000000,25913000000,25913000000,3956000000,48995000000,234386000000,41304000000,...,220132000000,33327000000,48914000000,107147000000,None,70400000000,40201000000,4754986000,AAPL,2018_09_30_AAPL
4,2017-09-30,USD,375319000000,128645000000,20289000000,74181000000,4855000000,35673000000,246674000000,33783000000,...,219794000000,30551000000,40415000000,134047000000,None,98330000000,35867000000,5126201000,AAPL,2017_09_30_AAPL

In [18]:
cash = alpha_vantage_api_financial_statements("cash flow", 'AAPL')
cash

,fiscalDateEnding,reportedCurrency,operatingCashflow,paymentsForOperatingActivities,proceedsFromOperatingActivities,changeInOperatingLiabilities,changeInOperatingAssets,depreciationDepletionAndAmortization,capitalExpenditures,changeInReceivables,...,proceedsFromIssuanceOfCommonStock,proceedsFromIssuanceOfLongTermDebtAndCapitalSecuritiesNet,proceedsFromIssuanceOfPreferredStock,proceedsFromRepurchaseOfEquity,proceedsFromSaleOfTreasuryStock,changeInCashAndCashEquivalents,changeInExchangeRate,netIncome,symbol,p_key
0,2021-09-30,USD,104038000000,4087000000,None,19801000000,24712000000,11284000000,11085000000,14028000000,...,1105000000,20393000000,None,-84866000000,None,-3860000000,None,94680000000,AAPL,2021_09_30_AAPL
1,2020-09-30,USD,80674000000,4502000000,None,6935000000,1245000000,11056000000,7309000000,-8470000000,...,880000000,16091000000,None,-71478000000,None,-10435000000,None,57411000000,AAPL,2020_09_30_AAPL
2,2019-09-30,USD,69391000000,3423000000,None,-7248000000,-3760000000,12547000000,10495000000,-3176000000,...,781000000,6963000000,None,-66116000000,None,24311000000,None,55256000000,AAPL,2019_09_30_AAPL
3,2018-09-30,USD,77434000000,3022000000,None,47665000000,12927000000,10903000000,13313000000,13332000000,...,669000000,6969000000,None,-72069000000,None,5624000000,None,59531000000,AAPL,2018_09_30_AAPL
4,2017-09-30,USD,64225000000,2092000000,None,8838000000,14388000000,10157000000,12795000000,6347000000,...,555000000,28662000000,None,-32345000000,None,-195000000,None,48351000000,AAPL,2017_09_30_AAPL

In [20]:
earnings = alpha_vantage_api_financial_statements("earnings", 'AAPL')
earnings

   fiscalDateEnding reportedEPS symbol            p_key
0        2022-06-30        3.62   AAPL  2022_06_30_AAPL
1        2021-09-30        5.62   AAPL  2021_09_30_AAPL
2        2020-09-30        3.27   AAPL  2020_09_30_AAPL
3        2019-09-30        2.98   AAPL  2019_09_30_AAPL
4        2018-09-30        2.97   AAPL  2018_09_30_AAPL
5        2017-09-30         2.3   AAPL  2017_09_30_AAPL
6        2016-09-30      2.0675   AAPL  2016_09_30_AAPL
7        2015-09-30         2.3   AAPL  2015_09_30_AAPL
8        2014-09-30      1.6075   AAPL  2014_09_30_AAPL
9        2013-09-30       1.415   AAPL  2013_09_30_AAPL
10       2012-09-30      1.5775   AAPL  2012_09_30_AAPL
11       2011-09-30      0.9875   AAPL  2011_09_30_AAPL
12       2010-09-30        0.54   AAPL  2010_09_30_AAPL
13       2009-09-30      0.2225   AAPL  2009_09_30_AAPL
14       2008-09-30        0.38   AAPL  2008_09_30_AAPL
15       2007-09-30        0.55   AAPL  2007_09_30_AAPL
16       2006-09-30        0.33   AAPL  2006_09_30_AAPL
17       2005-09-30         0.2   AAPL  2005_09_30_AAPL
18       2004-09-30        0.05   AAPL  2004_09_30_AAPL
19       2003-09-30      0.0112   AAPL  2003_09_30_AAPL
20       2002-09-30      0.0198   AAPL  2002_09_30_AAPL
21       2001-09-30      0.0061   AAPL  2001_09_30_AAPL
22       2000-09-30        0.11   AAPL  2000_09_30_AAPL
23       1999-09-30        0.09   AAPL  1999_09_30_AAPL
24       1998-09-30        0.06   AAPL  1998_09_30_AAPL
25       1997-09-30     -0.1114   AAPL  1997_09_30_AAPL
26       1996-09-30     -0.1082   AAPL  1996_09_30_AAPL

----
END